
build/.vs/Cuda_Animal_Detection/v16/.suo
build/.vs/Cuda_Animal_Detection/v16/Browse.VC.db
build/.vs/Cuda_Animal_Detection/v16/Browse.VC.opendb
build/.vs/Cuda_Animal_Detection/v16/ipch/AutoPCH/266c9b14186d146e/OPENIMAGE.ipch
build/.vs/Cuda_Animal_Detection/v16/ipch/AutoPCH/717895577b6b5866/MAIN.ipch
build/.vs/Cuda_Animal_Detection/v16/Solution.VC.db
build/.vs/Cuda_Animal_Detection/v16/Solution.VC.db-shm
build/.vs/Cuda_Animal_Detection/v16/Solution.VC.db-wal
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/build/Debug/Cuda_Animal_Detection.exe
build/build/Debug/Cuda_Animal_Detection.ilk
build/build/Debug/Cuda_Animal_Detection.pdb
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.17.0-rc1/CMakeCCompiler.cmake
build/CMakeFiles/3.17.0-rc1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.0-rc1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.17.0-rc1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.0-rc1/CMakeRCCompiler.cmake
build/CMakeFiles/3.17.0-rc1/CMakeSystem.cmake
build/CMakeFiles/3.17.0-rc1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.0-rc1/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.17.0-rc1/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.17.0-rc1/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.17.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.17.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.17.0-rc1/VCTargetsPath.txt
build/CMakeFiles/3.17.0-rc1/VCTargetsPath.vcxproj
build/CMakeFiles/3.17.0-rc1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/94bc89d8e60511ffd0cd777f72a0bd0c/generate.stamp.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/Cuda_Animal_Detection.dir/Debug/Cuda_Ani.9E8EA09F.tlog/CL.command.1.tlog
build/Cuda_Animal_Detection.dir/Debug/Cuda_Ani.9E8EA09F.tlog/CL.read.1.tlog
build/Cuda_Animal_Detection.dir/Debug/Cuda_Ani.9E8EA09F.tlog/CL.write.1.tlog
build/Cuda_Animal_Detection.dir/Debug/Cuda_Ani.9E8EA09F.tlog/Cuda_Animal_Detection.lastbuildstate
build/Cuda_Animal_Detection.dir/Debug/Cuda_Ani.9E8EA09F.tlog/CustomBuild.command.1.tlog
build/Cuda_Animal_Detection.dir/Debug/Cuda_Ani.9E8EA09F.tlog/CustomBuild.read.1.tlog
build/Cuda_Animal_Detection.dir/Debug/Cuda_Ani.9E8EA09F.tlog/CustomBuild.write.1.tlog
build/Cuda_Animal_Detection.dir/Debug/Cuda_Ani.9E8EA09F.tlog/link.command.1.tlog
build/Cuda_Animal_Detection.dir/Debug/Cuda_Ani.9E8EA09F.tlog/link.read.1.tlog
build/Cuda_Animal_Detection.dir/Debug/Cuda_Ani.9E8EA09F.tlog/link.write.1.tlog
build/Cuda_Animal_Detection.dir/Debug/Cuda_Animal_Detection.log
build/Cuda_Animal_Detection.dir/Debug/main.obj
build/Cuda_Animal_Detection.dir/Debug/OpenImage.obj
build/Cuda_Animal_Detection.dir/Debug/vc142.pdb
build/Cuda_Animal_Detection.sln
build/Cuda_Animal_Detection.vcxproj
build/Cuda_Animal_Detection.vcxproj.filters
build/Cuda_Animal_Detection.vcxproj.user
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj.user
images/open-images/Dog/00f5e32f28fc420e.jpg - Shortcut.lnk
